<!doctype html>
<html>
<head>
  <title>MiaB - admin</title>
  <style>
  </style>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="all" />
</head>
<body>

  <div class="main_header">
    <h1>MiaB - Admin mode</h1>
  </div>

  <div id="new_tag">
    <form method="POST" enctype="multipart/form-data">
      <input type="hidden" name="id" value="" />
      Title: <input type="text" name="title" /><br />
      Image: <input type="file" name="image" /><br />
      <div id="image" style="display:none">
        <img src="">
      </div>
      MP3: <input type="file" name="mp3" /><br />
      <div id="mp3" style="display:none">
        <audio src="" controls=true></audio>
      </div>
      <input type="submit" vlaue="save" />
    </form>
  </div>

  <script src="js/jquery-2.2.3.min.js"></script>
  <script src="js/control.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = null;
    $(document).ready(function()
    {
      control.is_admin = true;
      control.current_id = '{{current_id}}';
      control.reshow = {{reshow}};
			control.init();
    })
  </script>

</body>
</html>
