<!doctype html>
<html>
<head>
  <title>MiaB - Kiosk</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="all" />
</head>
<body>

  <div class="main_header">
    <h1>MiaB - Kiosk mode</h1>
  </div>

  <div id="tag_metadata">
    ID: <span id="id"></span><br />
    Title: <span id="title"></span><br />
    <div id="image" style="display:none">
      <img src="">
    </div>
    <div id="mp3" style="display:none">
      <audio src="" controls=true></audio>
    </div>
  </div>

  <script src="js/jquery-2.2.3.min.js"></script>
  <script src="js/control.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = null;
    $(document).ready(function()
    {
      control.is_admin = false;
      control.current_id = '{{current_id}}';
      control.reshow = {{reshow}};
			control.init();
    })
  </script>

</body>
</html>
