<!doctype html>
<html>
<head>
  <title>MiaB - Welcome</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="all" />
</head>
<body>
  <h1>Welcome to Museum in a Box</h1>
  <br /><br /><br />
  <p>
    <h2>No admin key has been set yet. Please boop an object that will become your admin key.</h2>
  </p>
  <script src="js/jquery-2.2.3.min.js"></script>
  <script src="js/control.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = null;
    $(document).ready(function()
    {
      control.is_admin = true;
      control.current_id = '{{current_id}}';
      control.reshow = {{reshow}};
			control.init();
    })
  </script>
</body>
</html>
