<!doctype html>
<html>
  <head>
    <title>Fake RFID</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      #defaultCanvas0 {
        cursor: pointer;
      }
      .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    </style>
  </head>
  <body>
    <h1 class="unselectable">Fake RFID</h1>
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/p5.min.js"></script>
    <script src="js/fake-rfid.js"></script>
  </body>
</html>
